# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

/src/Toolboxes/
.DS_Store

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace

# Ignore MATLAB temporary files
*.asv
*.m~*
*.mlx~*
*.mlapp~*

# Ignore MATLAB autosave and backup files
*.asv
*.asv.*
*.m.bak
*.mlapp.bak

# Ignore MATLAB code analyzer files
*.mldatx
*.mlprj

# Ignore MATLAB coverage report files
*.cvg

# Ignore MATLAB P-files
*.p

